@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Tema: Knockout.js</h1>
        <br>
        <p class="lead">Creado por:</p>


        <ul>
            <li>Karolina Montenegro Guzmán</li>

            <li>Jahanel Rivera Barboza</li>

            <li>Dabrin Najera Barboza</li>

            <li>Daniel Villanueva Cordero </li>
        </ul>


        usé  <a href="https://dzone.com/articles/mvc-crud-actions-using-knockoutjs"> https://dzone.com/articles/mvc-crud-actions-using-knockoutjs  </a>
    </div>

