
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="col-md-4">
    <div class="form-group">
        <label for="inpFirstName">Id</label>
        <input id="Id" name="Id" type="text" required class="form-control text-box single-line" value="" data-bind="value: id" />

    </div>
    <div class="form-group">
        <label for="inpFirstName">Apellido</label>
        <input id="apellido" name="apellido" type="text" required class="form-control text-box single-line" value="" data-bind="value: apellido" />

    </div>

    <div class="form-group">
        <label for="inpLastName">Nombre</label>
        <input id="nombre" name="nombre" type="text" required class="form-control text-box single-line" value="" data-bind="value: nombre" />
    </div>

    <div class="form-group">
        <label for="inpAge">  Correo  </label>
        <input id="correo" name="correo" type="email" required class="form-control text-box single-line" value="" data-bind="value: correo" />
    </div>


    <div class="form-group">
        <label for="txtDescription">Cedula</label>
        <input id="cedula" type="text" name="cedula" required class="form-control text-box single-line" value="" data-bind="value: cedula" />
    </div>
    <button type="button" class="btn btn-primary" data-bind="click: updatePersona">Click me</button>
</div>

<script type="text/javascript">
    var selPeople = '@Html.Raw(ViewBag.Persona)';
</script>

<div>
    @Html.ActionLink("Back to List", "Read")
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/knockout-3.5.1.js"></script>
<script src="~/Scripts/ViewModels/KOUpdate.js"></script>

